$color-text: #444444;
$color-background: #f7f7f6;
$color-white: #ffffff;
$color-border: #e5e5e4;
$color-purple: #50449a;
$color-rize: #8bbae4;
$color-orange: #ffb958;
$font-weight-regular: 300;
$font-weight-thin: 200;
$font-weight-bold: 600;

%border {
	border: 1px solid $color-border;
}

%radius {
	border-radius: 8px;
}
