.project button, .project__odd button {
  border-radius: 4px; }

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 100%;
  word-wrap: break-word;
  color: #444444;
  overflow-x: hidden;
  max-width: 100%; }

body {
  margin: 0px;
  overflow-x: hidden;
  max-width: 100%;
  min-width: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f7f7f7; }

ol, ul, li {
  list-style: none; }

.index_start {
  height: 80px; }

a {
  color: #444444;
  text-decoration: none; }
  a:hover {
    opacity: .4; }

.header {
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 0.5px solid #e5e5e4;
  position: fixed;
  opacity: .98; }
  .header__wrapper {
    width: 960px;
    height: 80px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .header__wrapper {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .header__wrapper {
        width: 320px; } }
  .header__left {
    float: left;
    display: inline;
    padding-left: 0px;
    color: #444444;
    padding-top: 2px;
    text-transform: uppercase;
    font-size: 1.4em; }
    @media only screen and (max-width: 629px) {
      .header__left {
        padding-left: 30px; } }
    @media only screen and (max-width: 629px) {
      .header__left .header-bar__title {
        display: none; } }
  .header__right {
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding-top: 12px;
    text-transform: capitalize; }
    .header__right li {
      display: inline;
      margin-left: 20px; }
    .header__right a {
      color: #444444;
      text-decoration: none; }
      .header__right a:hover {
        text-decoration: underline; }
    .header__right .activelink {
      text-decoration: underline; }

.project__purple {
  width: 100%;
  background: #3c1a4d;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 80px; }
  .project__purple__container {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__purple__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__purple__container {
        width: 320px; } }
    .project__purple__container__h1 {
      text-align: left;
      color: white;
      margin-top: 0px;
      font-size: 4.0em;
      font-weight: 300;
      margin-bottom: 0px; }
    .project__purple__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      color: white; }

.project__olive {
  width: 100%;
  background: #747730;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 80px; }
  .project__olive__container {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__olive__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__olive__container {
        width: 320px; } }
    .project__olive__container__h1 {
      text-align: left;
      color: white;
      margin-top: 0px;
      font-size: 4.0em;
      font-weight: 300;
      margin-bottom: 0px; }
    .project__olive__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      color: white; }

.project__green {
  width: 100%;
  background: #506d32;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 80px; }
  .project__green__container {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__green__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__green__container {
        width: 320px; } }
    .project__green__container__h1 {
      text-align: left;
      color: white;
      margin-top: 0px;
      font-size: 4.0em;
      font-weight: 300;
      margin-bottom: 0px; }
    .project__green__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      color: white; }

.project__pink {
  width: 100%;
  background: #641e3e;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 80px; }
  .project__pink__container {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__pink__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__pink__container {
        width: 320px; } }
    .project__pink__container__h1 {
      text-align: left;
      color: white;
      margin-top: 0px;
      font-size: 4.0em;
      font-weight: 300;
      margin-bottom: 0px; }
    .project__pink__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      color: white; }

.project__white {
  width: 100%;
  background: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 80px; }
  .project__white__container {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__white__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__white__container {
        width: 320px; } }
    .project__white__container__h1 {
      text-align: left;
      color: #444444;
      margin-top: 0px;
      font-size: 4.0em;
      font-weight: 300;
      margin-bottom: 0px; }
    .project__white__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      color: #444444; }

.process {
  width: 100%;
  padding-top: 100px;
  background-color: #ffffff;
  padding-bottom: 60px; }
  .process__blocks {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .process__blocks {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .process__blocks {
        width: 320px; } }
    .process__blocks__one {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      margin-left: 0px;
      border: 1px solid #e5e5e4; }
      .process__blocks__one__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__one {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__one {
          height: 320px;
          width: 320px; } }
    .process__blocks__two {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      border: 1px solid #e5e5e4; }
      .process__blocks__two__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__two {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__two {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .process__blocks__three {
      height: 300px;
      width: 300px;
      border: 1px solid #e5e5e4;
      display: inline-block; }
      .process__blocks__three__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__three {
          width: 197px;
          height: 197px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__three {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .process__blocks__large {
      height: 409px;
      width: 960px;
      display: inline-block;
      border: 1px solid #e5e5e4; }
      .process__blocks__large__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__large {
          width: 630px;
          height: 269px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__large {
          height: 137px;
          width: 320px;
          margin-top: 40px; } }

.processi {
  width: 100%;
  padding-top: 100px;
  background-color: #f7f7f7;
  padding-bottom: 60px; }
  .processi__blocks {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .processi__blocks {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .processi__blocks {
        width: 320px; } }
    .processi__blocks__one {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      margin-left: 0px;
      border: 1px solid #e5e5e4; }
      .processi__blocks__one__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__one {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__one {
          height: 320px;
          width: 320px; } }
    .processi__blocks__two {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      border: 1px solid #e5e5e4; }
      .processi__blocks__two__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__two {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__two {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .processi__blocks__three {
      height: 300px;
      width: 300px;
      border: 1px solid #e5e5e4;
      display: inline-block; }
      .processi__blocks__three__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__three {
          width: 197px;
          height: 197px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__three {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .processi__blocks__large {
      height: 409px;
      width: 960px;
      display: inline-block;
      border: 1px solid #e5e5e4; }
      .processi__blocks__large__title {
        text-align: center;
        margin-top: 7px;
        font-size: .9em; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__large {
          width: 630px;
          height: 269px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__large {
          height: 137px;
          width: 320px;
          margin-top: 40px; } }

.project {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box; }
  @media only screen and (min-width: 630px) and (max-width: 959px) {
    .project {
      margin: 0 auto; } }
  @media only screen and (max-width: 629px) {
    .project {
      margin: 0 auto; } }
  .project__wrapper {
    width: 1060px;
    border: 1px solid #e5e5e4;
    margin: 0 auto;
    padding: 150px;
    box-sizing: border-box;
    min-height: 450px;
    background-color: white; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__wrapper {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__wrapper {
        width: 320px; } }
  .project__picture img {
    width: 500px;
    border: 1px solid #e6e6e6;
    float: left;
    display: inline-block;
    margin-right: 50px;
    box-sizing: border-box; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__picture img {
        width: 50%;
        margin-right: 0px; } }
    @media only screen and (max-width: 629px) {
      .project__picture img {
        width: 320px;
        margin-right: 0px; } }
  .project__description {
    width: 404px;
    display: inline-block; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__description {
        width: 50%;
        display: inline-block;
        padding-left: 30px; } }
    @media only screen and (max-width: 629px) {
      .project__description {
        width: 320px;
        margin-right: 0px; } }
  .project h1 {
    font-weight: 200;
    font-size: 3.0em;
    margin-top: 0px;
    margin-bottom: 0px; }
    @media only screen and (max-width: 629px) {
      .project h1 {
        text-align: center; } }
  .project p {
    line-height: 2.0em; }
  .project button {
    font-size: 1.0em;
    color: #ffffff;
    background-color: #94ca7b;
    border: 1px solid #7cb260;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase; }
    .project button:hover {
      background-color: rgba(148, 202, 123, 0.5);
      border: 1px solid rgba(124, 178, 96, 0.1); }

.project__odd {
  width: 100%;
  background-color: #f7f7f7;
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media only screen and (min-width: 630px) and (max-width: 959px) {
    .project__odd {
      margin: 0 auto; } }
  @media only screen and (max-width: 629px) {
    .project__odd {
      margin: 0 auto; } }
  .project__odd__wrapper {
    width: 960px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__odd__wrapper {
        width: 500px; } }
  .project__odd__picture img {
    width: 500px;
    float: left;
    display: inline-block;
    margin-right: 50px;
    padding-top: 75px;
    padding-bottom: 75px; }
  .project__odd__description {
    width: 404px;
    display: inline-block; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__odd__description {
        width: 500px;
        display: inline-block;
        margin-top: 25px; } }
  .project__odd h1 {
    font-weight: 200;
    font-size: 3.0em;
    margin-top: 0px;
    margin-bottom: 0px; }
  .project__odd p {
    line-height: 2.0em; }
  .project__odd button {
    font-size: 1.0em;
    color: #ffffff;
    background-color: #94ca7b;
    border: 1px solid #7cb260;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase; }
    .project__odd button:hover {
      background-color: rgba(148, 202, 123, 0.5);
      border: 1px solid rgba(124, 178, 96, 0.1); }

.content {
  margin-top: 420px; }

footer {
  margin-top: 0px;
  background-color: #232323; }
  footer .footer__column {
    width: 317px;
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 150px;
    padding-left: 0px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      footer .footer__column {
        width: 207px; } }
    @media only screen and (max-width: 629px) {
      footer .footer__column {
        width: 320px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px; } }
  footer .title {
    font-size: 1.2em;
    font-weight: 600;
    color: #f7f7f7;
    text-transform: uppercase; }
  footer .content {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 2.0em; }
  footer a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f7f7f7;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

.footer__wrapper {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (min-width: 630px) and (max-width: 959px) {
    .footer__wrapper {
      width: 630px; } }
  @media only screen and (max-width: 629px) {
    .footer__wrapper {
      width: 320px;
      padding-top: 50px;
      padding-bottom: 100px; } }

.description {
  padding-top: 80px;
  padding-bottom: 80px; }
  .description__container {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 40px; }
    .description__container .result {
      border: 1px solid #e5e5e4; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .description__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .description__container {
        width: 320px; } }
    .description__container h2 {
      margin-bottom: 0px;
      font-weight: 600; }
    .description__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      padding-bottom: 20px;
      padding-top: 0px;
      margin-top: 5px; }
    .description__container__title {
      text-align: left;
      margin-top: 7px;
      font-size: 1.0em;
      font-weight: 600; }

/*# sourceMappingURL=stylesOld.css.map */
