*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 100%;
  word-wrap: break-word;
  color: #444444;
  overflow-x: hidden;
  max-width: 100%; }

body {
  margin: 0px;
  overflow-x: hidden;
  max-width: 100%;
  min-width: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f7f7f6; }

ol, ul, li {
  list-style: none; }

.index_start {
  height: 55px; }

a {
  color: #444444;
  text-decoration: none; }
  a:hover {
    opacity: .6; }

.header {
  height: 55px;
  width: 100%;
  background-color: #50449a;
  position: fixed;
  z-index: 100; }
  .header__wrapper {
    width: 960px;
    height: 80px;
    margin: 0 auto; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .header__wrapper {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .header__wrapper {
        width: 320px; } }
  .header__left {
    float: left;
    display: inline;
    padding-left: 0px;
    color: #444444;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 8px; }
    .header__left img {
      margin-top: 0px;
      width: 148px;
      display: inline-block; }
  .header__mobile {
    display: none; }
    @media only screen and (max-width: 629px) {
      .header__mobile {
        display: inline;
        float: right;
        list-style-type: none;
        text-decoration: none;
        text-transform: capitalize;
        padding-left: 0px;
        margin-top: -69px;
        width: 54%; } }
    .header__mobile div {
      position: absolute;
      display: none;
      margin-top: 52px;
      width: 100%;
      left: 0px; }
    .header__mobile div li {
      background: #ffffff;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e4;
      text-decoration: none;
      color: #222;
      font-weight: bold;
      width: 100%; }
  .header__mobile button {
    border: 1px solid white;
    height: 40px;
    width: 40px;
    background: url(../images/burger@2x.png) center no-repeat;
    background-size: 80%;
    text-align: right;
    float: right;
    margin-top: 5px;
    border-radius: 8px;
    /*.expanded {
      background-color: transparent;
      border: 0;
    }*/ }
    .header__mobile button:hover {
      opacity: .5; }
  .header__right {
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding-top: 0px;
    text-transform: capitalize;
    padding-left: 0px;
    /*.activelink{
    	text-decoration: underline;
    	}*/ }
    .header__right li {
      display: inline;
      margin-left: 20px; }
    @media only screen and (max-width: 629px) {
      .header__right {
        display: none; } }
    .header__right a {
      color: white;
      text-decoration: none; }
      .header__right a:hover {
        text-decoration: underline; }
    .header__right a.activeLink {
      text-decoration: underline; }

.project__purple {
  width: 100%;
  background: white;
  padding-top: 55px;
  padding-bottom: 65px; }
  .project__purple__container {
    width: 960px;
    margin: 0 auto;
    padding-top: 0px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .project__purple__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .project__purple__container {
        width: 320px; } }
    .project__purple__container__h1 {
      text-align: center;
      color: #444444;
      margin-top: 0px;
      font-size: 4.0em;
      font-weight: 200;
      margin-bottom: 0px;
      padding-top: 0px;
      margin-top: 0px;
      line-height: 1.0em; }
      @media only screen and (max-width: 629px) {
        .project__purple__container__h1 {
          font-size: 2.5em;
          padding-top: 5px; } }
    .project__purple__container p {
      line-height: 1.7em;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      color: #444444;
      margin-top: 10px;
      margin-bottom: 0px; }

footer {
  margin-top: 0px;
  background-color: #232323; }
  footer .footer__column {
    width: 317px;
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-left: 0px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      footer .footer__column {
        width: 207px; } }
    @media only screen and (max-width: 629px) {
      footer .footer__column {
        width: 320px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px; } }
  footer .title {
    font-size: 1.2em;
    font-weight: 600;
    color: #f7f7f6;
    text-transform: uppercase; }
  footer .content {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 2.0em; }
  footer a {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f7f7f6;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }
  footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f7f7f6;
    text-decoration: none; }

.footer__wrapper {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (min-width: 630px) and (max-width: 959px) {
    .footer__wrapper {
      width: 630px; } }
  @media only screen and (max-width: 629px) {
    .footer__wrapper {
      width: 320px;
      padding-top: 50px;
      padding-bottom: 100px; } }

.description {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 40px;
  margin-top: 0px; }
  .description__container {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px; }
    .description__container .result {
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .description__container .result img {
        border-radius: 8px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .description__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .description__container {
        width: 320px; } }
    .description__container h2 {
      margin-bottom: 0px;
      margin-top: 0px;
      font-weight: 600; }
    .description__container h3 {
      margin-bottom: 0px;
      font-weight: 600;
      color: #7c73b3; }
    .description__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      padding-bottom: 20px;
      padding-top: 0px;
      margin-top: 5px; }
    .description__container__title {
      text-align: center !important;
      margin-top: 7px;
      font-size: 1.0em;
      font-weight: 600; }
    .description__container__titleNew {
      text-align: center !important;
      margin-top: 70px;
      font-size: 1.0em;
      font-weight: 600;
      padding-top: 70px !important; }
    .description__container a.clickableButton {
      margin: 0 auto !important;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #ffb958;
      color: #ffffff;
      border-radius: 8px;
      font-weight: 600;
      margin-bottom: 0px; }

.contact {
  background-color: #f7f7f6;
  padding-top: 75px;
  padding-bottom: 40px;
  border-top: 1px solid #e5e5e4; }
  .contact__container {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 0px; }
    .contact__container .result {
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .contact__container .result img {
        border-radius: 8px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .contact__container {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .contact__container {
        width: 320px; } }
    .contact__container h2 {
      margin-bottom: 0px;
      margin-top: 0px;
      font-weight: 600; }
    .contact__container h3 {
      margin-bottom: 0px;
      font-weight: 600;
      color: #7c73b3; }
    .contact__container p {
      line-height: 1.7em;
      text-align: left;
      font-size: 1.1em;
      padding-bottom: 20px;
      padding-top: 0px;
      margin-top: 5px; }
    .contact__container__title {
      text-align: center !important;
      margin-top: 7px;
      font-size: 1.0em;
      font-weight: 600; }
    .contact__container__titleNew {
      text-align: center !important;
      margin-top: 70px;
      font-size: 1.0em;
      font-weight: 600;
      padding-top: 70px !important; }
    .contact__container a.clickableButton {
      margin: 0 auto !important;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #ffb958;
      color: #ffffff;
      border-radius: 8px;
      font-weight: 600;
      margin-bottom: 0px; }

form {
  border: 1px solid #e5e5e4;
  background-color: #ffffff;
  padding: 80px 160px 80px 160px;
  border-radius: 8px; }
  @media only screen and (min-width: 630px) and (max-width: 959px) {
    form {
      padding: 60px; } }
  @media only screen and (max-width: 629px) {
    form {
      padding: 20px; } }
  form label {
    font-size: 1.0em;
    font-weight: 600; }
  form input {
    border: 1px solid #e5e5e4;
    width: 100%;
    font-size: 1.0em;
    font-weight: 300;
    color: #444444;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    margin-top: 7px; }
  form input:focus {
    outline: none;
    border: 1px solid #444444; }
  form textarea {
    width: 100%;
    border: 1px solid #e5e5e4;
    font-size: 1.0em;
    font-weight: 300;
    color: #444444;
    padding: 15px 15px 15px 15px;
    height: 150px;
    margin-top: 7px;
    margin-bottom: 30px; }
  form textarea:focus {
    outline: none;
    border: 1px solid #444444; }
  form .submit-button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffb958;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: none;
    width: 180px;
    font-weight: 600;
    font-size: 1.0em;
    border: 0px; }
    form .submit-button:hover {
      opacity: .5; }
    @media only screen and (max-width: 629px) {
      form .submit-button {
        width: 100%; } }
  form .submit_button {
    text-align: center; }
  form h1 {
    text-align: center;
    color: #444444;
    margin-top: 0px;
    font-size: 2.0em;
    font-weight: 300;
    margin-bottom: 50px; }

#notification {
  text-align: center;
  color: #ffb958;
  margin-top: 0px;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 50px;
  border: 1px solid #ffb958;
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 40px !important;
  width: 100%; }

.pLink {
  font-weight: 600;
  color: #747730; }

.donations {
  border: 2px solid blue;
  width: 960px;
  margin: 0 auto;
  margin-top: 140px;
  background: #ffffff; }

#nmDS010575 {
  border: 2px solid pink; }

.current {
  text-decoration: underline;
  display: inline;
  font-weight: 600; }

.copyright {
  text-align: left;
  padding-bottom: 50px; }
  .copyright p {
    color: #9fa1a3; }
  @media only screen and (max-width: 629px) {
    .copyright {
      text-align: center;
      padding-top: 5px; } }

.inline_p {
  text-decoration: underline; }

.process {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-top: 0px;
  background-color: #f7f7f6;
  padding-top: 0px;
  padding: 0px !important; }
  .process__blocks {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .process__blocks {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .process__blocks {
        width: 320px; } }
    .process__blocks__one {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      margin-left: 0px;
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .process__blocks__one img {
        border-radius: 8px; }
      .process__blocks__one__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__one {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__one {
          height: 320px;
          width: 320px; } }
    .process__blocks__two {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .process__blocks__two img {
        border-radius: 8px; }
      .process__blocks__two__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__two {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__two {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .process__blocks__three {
      height: 300px;
      width: 300px;
      border: 1px solid #e5e5e4;
      display: inline-block;
      border-radius: 8px; }
      .process__blocks__three img {
        border-radius: 8px; }
      .process__blocks__three__title {
        text-align: center !important;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__three {
          width: 197px;
          height: 197px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__three {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .process__blocks__large {
      height: 409px;
      width: 960px;
      display: inline-block;
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .process__blocks__large img {
        border-radius: 8px; }
      .process__blocks__large__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__large {
          width: 630px;
          height: 269px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__large {
          height: 137px;
          width: 320px;
          margin-top: 40px; } }
    .process__blocks__large2 {
      height: 527px;
      width: 960px;
      display: inline-block;
      border-radius: 8px; }
      .process__blocks__large2 img {
        border-radius: 8px;
        border: 1px solid #e5e5e4; }
      .process__blocks__large2__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .process__blocks__large2 {
          width: 630px;
          height: 346px; } }
      @media only screen and (max-width: 629px) {
        .process__blocks__large2 {
          height: 176px;
          width: 320px;
          margin-top: 40px; } }

.processi {
  width: 100%;
  padding-top: 75px;
  background-color: #f7f7f6;
  padding-bottom: 60px; }
  .processi__blocks {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 630px) and (max-width: 959px) {
      .processi__blocks {
        width: 630px; } }
    @media only screen and (max-width: 629px) {
      .processi__blocks {
        width: 320px; } }
    .processi__blocks__one {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      margin-left: 0px;
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .processi__blocks__one img {
        border-radius: 8px; }
      .processi__blocks__one__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__one {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__one {
          height: 320px;
          width: 320px; } }
    .processi__blocks__two {
      height: 300px;
      width: 300px;
      display: inline-block;
      margin-right: 24px;
      border: 1px solid #e5e5e4;
      border-radius: 8px; }
      .processi__blocks__two img {
        border-radius: 8px; }
      .processi__blocks__two__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__two {
          width: 197px;
          height: 197px;
          margin-right: 16px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__two {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .processi__blocks__three {
      height: 300px;
      width: 300px;
      border: 1px solid #e5e5e4;
      display: inline-block;
      border-radius: 8px; }
      .processi__blocks__three img {
        border-radius: 8px; }
      .processi__blocks__three__title {
        text-align: center;
        margin-top: 7px;
        font-size: 1.0em;
        font-weight: 600; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__three {
          width: 197px;
          height: 197px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__three {
          height: 320px;
          width: 320px;
          margin-top: 40px; } }
    .processi__blocks__large {
      height: 409px;
      width: 960px;
      display: inline-block;
      border: 1px solid #e5e5e4; }
      .processi__blocks__large__title {
        text-align: center;
        margin-top: 7px;
        font-size: .9em; }
      @media only screen and (min-width: 630px) and (max-width: 959px) {
        .processi__blocks__large {
          width: 630px;
          height: 269px; } }
      @media only screen and (max-width: 629px) {
        .processi__blocks__large {
          height: 137px;
          width: 320px;
          margin-top: 40px; } }

iframe {
  border-radius: 10px; }

.planning {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  margin-top: 0px; }
  @media only screen and (min-width: 630px) and (max-width: 959px) {
    .planning {
      width: 630px; } }
  @media only screen and (max-width: 629px) {
    .planning {
      width: 320px; } }

.planningh {
  font-size: 2.0em;
  text-align: center;
  font-weight: 500;
  color: #cecece;
  padding-bottom: 30px;
  padding-top: 55px;
  margin-bottom: 0px;
  margin-top: 0px; }

p.questions {
  border: 1px solid #e5e5e4;
  margin-top: 0px;
  margin-bottom: 0px; }

/*# sourceMappingURL=styles.css.map */
